<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kanye Guess</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="style.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.0.js"
            integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body ng-app="myApp" ng-controller="gameController as gc">
<header>
    <div class="col-xs-2">
        <img src="images/yehappy.png">
    </div>
    <h1 class="col-xs-8">Guess the Kanye Song</h1>
    <div class="col-xs-2">
        <img src="images/yeezy.png">
    </div>
</header>
<div class="mainContent col-xs-offset-2 col-xs-8">
    <div class="guessContainer col-xs-8">
        <input type="text" id="guess" ng-hide="!gc.awaitingGuess">
        <button ng-click="gc.submitGuess()" ng-hide="!gc.awaitingGuess">Submit Guess</button>
        <button ng-click="gc.pickSong()" ng-hide="gc.catalog.length == 0 && gc.skippedSongs.length == 0">New Song</button>
    </div>
    <div class="helpButtons col-xs-12">
        <button class="col-xs-12 col-md-2" ng-show="gc.awaitingGuess && gc.currentSong.samples.length > 0" ng-click="gc.showSample()">give me a
            sample
        </button>
        <button class="col-xs-12 col-md-2" ng-show="gc.awaitingGuess && gc.currentSong.features.length > 0" ng-click="gc.showFeature()">give me a
            feature
        </button>
        <button class="col-xs-12 col-md-2" ng-show="gc.awaitingGuess && gc.currentSong.producers.length > 0" ng-click="gc.showProducer()">give me a
            producer
        </button>
        <button class="col-xs-12 col-md-2" ng-show="gc.awaitingGuess && gc.currentSong.difficultLine.length > 0" ng-click="gc.showDifficultLine()">
            give me a difficult line
        </button>
        <button class="col-xs-12 col-md-2" ng-show="gc.awaitingGuess && gc.currentSong.mediumLine.length > 0" ng-click="gc.showMediumLine()">give
            me a kinda easy line
        </button>
        <button class="col-xs-12 col-md-2" ng-show="gc.awaitingGuess && gc.currentSong.easyLine.length > 0" ng-click="gc.showEasyLine()">give me a
            really easy line
        </button>
        <button class="col-xs-12 col-md-2" ng-click="gc.awaitingGuess && gc.showSongLength()" ng-hide="gc.timeShown">give me the length</button>
    </div>
    <div ng-cloak class="col-xs-12">
        <p id="feedback"></p>
    </div>
    <div ng-cloak class="stats col-xs-12">
        <h4> Score: {{gc.score}}</h4>
        <h4> Best: {{gc.best}}</h4>
        <h4> Average: {{gc.average}}</h4>
        <h4> Total Score: {{gc.sum}}</h4>
    </div>
    <div ng-cloak class="albumCoverDisplay col-xs-10">
        <figure class="albumCoverFig" ng-show="gc.cdSongsGuessed > 0">
            <img class="albumCovers" src="images/cd.jpg">
            <figcaption class="albumCoverCaption">{{gc.cdSongsGuessed}}/{{gc.cdLength}}</figcaption>
        </figure>
        <figure class="albumCoverFig" ng-show="gc.lrSongsGuessed > 0">
            <img class="albumCovers" src="images/lr.jpg">
            <figcaption class="albumCoverCaption">{{gc.lrSongsGuessed}}/{{gc.lrLength}}</figcaption>
        </figure>
        <figure class="albumCoverFig" ng-show="gc.gradSongsGuessed > 0">
            <img class="albumCovers" src="images/graduation.jpg">
            <figcaption class="albumCoverCaption">{{gc.gradSongsGuessed}}/{{gc.gradLength}}</figcaption>
        </figure>
        <figure class="albumCoverFig" ng-show="gc.heartbreakSongsGuessed > 0">
            <img class="albumCovers" src="images/808s.jpg">
            <figcaption class="albumCoverCaption">{{gc.heartbreakSongsGuessed}}/{{gc.heartbreakLength}}</figcaption>
        </figure>
        <figure class="albumCoverFig" ng-show="gc.mbdtfSongsGuessed > 0">
            <img class="albumCovers" src="images/mbdtf.jpg">
            <figcaption class="albumCoverCaption">{{gc.mbdtfSongsGuessed}}/{{gc.mbdtfLength}}</figcaption>
        </figure>
        <figure class="albumCoverFig" ng-show="gc.yeezusSongsGuessed > 0">
            <img class="albumCovers" src="images/yeezus.jpg">
            <figcaption class="albumCoverCaption">{{gc.yeezusSongsGuessed}}/{{gc.yeezusLength}}</figcaption>
        </figure>
        <figure class="albumCoverFig" ng-show="gc.pabloSongsGuessed > 0">
            <img class="albumCovers" src="images/pablo.jpg">
            <figcaption class="albumCoverCaption">{{gc.pabloSongsGuessed}}/{{gc.pabloLength}}</figcaption>
        </figure>
    </div>
    <div ng-cloak class="rules col-xs-8">
        <h1 class="rulesHeader">Rules</h1>
    </div>
</div>
<!-- Modal for Chosen Option -->
<div class="modal" id="rulesModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rules</h4>
            </div>
            <div class="modal-body">
                <ul class="rulesList">
                    <li>Only songs on Kanye's solo studio albums are in the game</li>
                    <li>You begin with a score of <strong>{{gc.SCORE_START}} points </strong> </li>
                    <li>You will lose <strong>{{gc.INCORRECT_NO_ALBUM_DETRIMENT}} points</strong>  for guessing a song that is <strong>not</strong> on one of Kanye's <strong>solo studio albums</strong></li>
                    <li>You will lose <strong>{{gc.INCORRECT_DIFFERENT_ALBUM_DETRIMENT}} points</strong>  for guessing a song on a <strong>different Kanye album</strong></li>
                    <li>You will lose <strong>{{gc.INCORRECT_SAME_ALBUM_DETRIMENT}} points</strong>  for guessing a song on the <strong>same album</strong></li>
                    <li>You will lose <strong>{{gc.SAMPLE_DETRIMENT}} points</strong> for getting a <strong>sample</strong></li>
                    <li>You will lose <strong>{{gc.PRODUCER_DETRIMENT}} points</strong> for getting a <strong>producer</strong></li>
                    <li>You will lose <strong>{{gc.FEATURE_DETRIMENT}} points </strong> for getting a <strong>feature</strong></li>
                    <li>You will lose <strong>{{gc.HARD_LYRIC_DETRIMENT}} points</strong> for getting a <strong>difficult</strong> line</li>
                    <li>You will lose <strong>{{gc.MEDIUM_LYRIC_DETRIMENT}} points</strong> for getting a <strong>kinda easy</strong> line</li>
                    <li>You will lose <strong>{{gc.EASY_LYRIC_DETRIMENT}} points</strong> for getting a <strong>really easy</strong> line</li>
                    <li>You will lose <strong>{{gc.SONG_LENGTH_DETRIMENT}} points</strong> for getting the <strong>length</strong> of the song</li>
                    <li>Your score on a song <strong>can go negative</strong> if you let it, but <strong>you can skip a song</strong> at any time by pressing the 'New Song' button </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->
<script>
    $('.rulesHeader').click(function(){
        $('#rulesModal').modal();
    })
</script>
</body>
</html>